<!DOCTYPE html>
<html lang="en" ng-app="onload">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Testing</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="./ASSETS/plugin-css/bootstrap/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="./ASSETS/plugin-css/admin-lte/css/font-awesome/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="./ASSETS/plugin-css/admin-lte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="./ASSETS/plugin-css/admin-lte/css/skins/skin-red.min.css">
    <link rel="stylesheet" type="text/css" href="./ASSETS/js/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="./ASSETS/plugin-css/ngDialog/ngDialog-theme-calculator.css">

    <!-- NgCloak Style -->
    <style type="text/css">
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./ASSETS/custom-css/loader/lds-circle.css">

    <!-- Plugin/Fonts CSS -->
    <link rel="stylesheet" href="./ASSETS/plugin-css/angular-loading-bar/loading-bar.css">
    <link rel="stylesheet" href="./ASSETS/plugin-css/ngDialog/ngDialog.min.css">
    <link rel="stylesheet" href="./ASSETS/plugin-css/ngDialog/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="./ASSETS/plugin-css/ngDialog/ngDialog-theme-default.css">
    <link rel="stylesheet" href="./ASSETS/plugin-css/isteven-multi-select/isteven-multi-select.min.css">
    <link rel="stylesheet" href="./ASSETS/plugin-css/angular-ui-notification/angular-ui-notification.min.css">
    <link rel="stylesheet" href="./ASSETS/plugin-css/font-awesome/font-awesome.min.css">
    <link href="./ASSETS/plugin-css/bootstrap/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
        media="all" /> -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />

    <!-- ng1 Main JS -->
    <script src="./ASSETS/plugin-js/angularjs/angular.min.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini fixed" ng-controller="Index" ng-cloak>
    <div ng-if="!isLoading">
        <div class="wrapper" ng-if="isLoggedIn">

            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a href="" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>Testing</b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Testing</b></span>
                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="./ASSETS/images/profile-img.png" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">{{profile.user_details.full_name}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="./ASSETS/images/profile-img.png" class="img-circle" alt="User Image">

                                        <p>
                                            {{profile.user_details.full_name}}
                                            <small>{{profile.user_details.position}}</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <a ng-click="log_out()" href="" class="btn btn-default btn-flat">Sign
                                                out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="./ASSETS/images/profile-img.png" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>{{profile.user_details.full_name}}</p>
                            <!-- Status -->
                            <a href=""><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li><a href="#/users">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> <span>Add Users</span></a>
                        </li>
                    </ul>
                    <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div id="main_content" class="content-wrapper" ng-view resize></div>
            <!-- /.content-wrapper -->

            <!-- Main Footer -->
        </div>
    </div>
    <!-- ./wrapper -->

    <!-- LDS Loader -->
    <div class="container" ng-if="isLoading">
        <div class="row lds-row-spacer">
            <div class="col-sm-12 col-md-12 col-lg-12 lds-col">
                <div class="lds-circle">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./LDS Loader -->

    <!-- Login -->
    <div ng-if="!isLoggedIn" ng-view></div>
    <!-- ./Login -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 3 -->
    <script src="./ASSETS/plugin-js/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="./ASSETS/plugin-js/bootstrap/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="./ASSETS/plugin-css/admin-lte/js/adminlte.min.js"></script>

    <!-- ng1 Modules -->
    <script src="./ASSETS/plugin-js/angularjs/angular-route.min.js"></script>
    <script src="./ASSETS/plugin-js/angularjs/angular-animate.min.js"></script>

    <!-- ng1 or JS Plugins -->
    <script src="./ASSETS/plugin-js/angular-loading-bar/loading-bar.js"></script>
    <script src="./ASSETS/plugin-js/momentjs/moment.min.js"></script>
    <script src="./ASSETS/plugin-js/sweetalert/sweetalert.min.js"></script>
    <script src="./ASSETS/plugin-js/angular-ui-bootstrap/angular-ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="./ASSETS/plugin-js/ngdialog/ngDialog.min.js"></script>
    <script src="./ASSETS/plugin-js/angular-ui-notification/angular-ui-notification.min.js"></script>
    <script src="./ASSETS/plugin-js/isteven-multi-select/isteven-multi-select.min.js"></script>
    <script src="./ASSETS/plugin-js/angular-file-uploader/angular-file-upload.min.js"></script>
    <script src="./ASSETS/plugin-js/angular-md5/angular-md5.min.js"></script>
    <script src="./ASSETS/plugin-js/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script src="./ASSETS/plugin-js/angular-eonasdan/angular-eonasdan-datetimepicker.min.js"></script>
    <script src="./ASSETS/plugin-js/alasql/alasql.min.js"></script>

    <!-- AmchartJS 3 & 4 Plugins -->
    <!-- <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/annotation.js"></script> -->

    <!-- Uploader -->
    <script src="./ASSETS/plugin-js/angular-file-uploader/angular-file-upload.min.js"></script>

    <!-- ng1 Module -->
    <script src="./JS/module.js"></script>

    <!-- Controllers -->
    <script src="./JS/CONTROLLERS/Index.js"></script>
    <script src="./JS/CONTROLLERS/Login.js"></script>
    <script src="./JS/CONTROLLERS/Users.js"></script>

    <!-- Factories -->
    <script src="./JS/FACTORIES/SessionFactory.js"></script>
    <script src="./JS/FACTORIES/UsersFactory.js"></script>

    <!-- Directives -->
    <script src="./JS/directives/isNumber.js"></script>
    <script src="./JS/directives/resize.js"></script>

</body>

</html>