<link rel="stylesheet" href="./partials/Login/login-page.css" />
<div class="container">
    <div ng-if="isLoading">
        <div class="row lds-row-spacer">
            <div class="col-sm-12 col-md-12 col-lg-12 lds-col">
                <div class="lds-circle">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!isLoading">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="login-page">
                    <div class="form">
                        <h1>Login</h1>
                        <form class="login-form">
                            <input ng-keydown="$event.keyCode === 13 && login()" type="text" placeholder="Username"
                                ng-model="form.user_name" />
                            <input ng-keydown="$event.keyCode === 13 && login()" type="password" placeholder="Password"
                                ng-model="form.password" />
                            <button type="button" ng-click="login()" class="btn btn-lg btn-block btn-success"><i
                                    class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                            <p class="message"><strong>Copyright &copy; 2021 <a href="#/"></a>.</strong> All
                                rights reserved.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>