.table-row {
    margin-top: 1%;
}

.options-row {
    margin-top: 2%;
}

.table-buttons {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.table-buttons:active {
    transform: translateY(4px);
}

.dialog-buttons-margin {
    margin-top: 1%;
}