<link rel="stylesheet" href="./partials/AddUsers/add-users-page.css" />
<section class="content-header">
    <h1>
        Users
        <small>Add or edit user details here </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/users"><i class="fa fa-dashboard"></i> Users</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<section class="content container-fluid">

    <div class="panel">
        <div class="panel-body">
            <div ng-if="isLoading" class="row lds-row-spacer">
                <div class="col-sm-12 col-md-12 col-lg-12 lds-col">
                    <div class="lds-circle">
                        <div></div>
                    </div>
                </div>
            </div>

            <div ng-if="!isLoading">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="box box-default" data-widget="box-widget">
                            <div class="box-header">
                                <h3 class="box-title">Add New User</h3>
                                <div class="box-tools">
                                    <!-- This will cause the box to collapse when clicked -->
                                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                        title="Collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label for="userName">Username</label>
                                        <input type="text" ng-model="form.user_name" name="userName" id="userName"
                                            class="form-control" />
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label for="fullName">Full Name</label>
                                        <input type="text" ng-model="form.full_name" name="fullName" id="fullName"
                                            class="form-control" />
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label for="jobPosition">Job Position</label>
                                    </div>
                                    <select ng-model="form.job_position" style="margin-left:1%;width:20%;">
                                            <option value="" disabled selected style="display:none;"> Select Type Here </option>
                                            <option value="Admin">Admin</option>
                                            <option value="Cashier">Cashier</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div ng-if="!useDefaultPassword">
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <label for="initial_password">Password</label>
                                            <input ng-model="password.initial" type="password" name="initial_password"
                                                id="initial_password" class="form-control" />
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <label for="repeated_password">Repeat Password</label>
                                            <input ng-model="password.repeated" type="password" name="repeated_password"
                                                id="repeated_password" class="form-control" />
                                        </div>
                                    </div><!-- 
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="checkbox">
                                            <label><input type="checkbox" ng-model="useDefaultPassword"
                                                    ng-change="useDefault()">Use Default
                                                Password?
                                                (comptool123456)</label>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row options-row">
                                    <div class="col-sm-8 col-md-8 col-lg-8"></div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <button type="button" ng-click="undo()" class="btn btn-warning btn-block"><i
                                                class="fa fa-undo"></i> Undo</button>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <button type="button" ng-click="addUser()" class="btn btn-success btn-block"><i
                                                class="fa fa-check"></i> Add User</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="box box-default" data-widget="box-widget">
                            <div class="box-header">
                                <h3 class="box-title">Users List</h3>
                                <div class="box-tools">
                                    <!-- This will cause the box to collapse when clicked -->
                                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                        title="Collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div
                                        class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-8 col-md-offset-8 col-lg-offset-8">
                                        <label for="userStatus">User Accounts List</label>
                                        <select class="form-control" id="userStatus" ng-model="form.userStatus"
                                            ng-change="getUsers()">
                                            <option value="f">Active</option>
                                            <option value="t">Deactivated</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row table-row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="responsive-table">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>User Name</th>
                                                        <th>Full Name</th>
                                                        <th>Job Position</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="haveUsers"
                                                        ng-repeat="(k, v) in users.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by $index">
                                                        <td>{{v.user_name}}</td>
                                                        <td>{{v.user_details.full_name}}</td>
                                                        <td>{{v.user_details.position}}</td>
                                                        <td>
                                                            <img src="./ASSETS/images/icons/update_user_details.png"
                                                                alt="Edit User Details" title="Edit User Details"
                                                                ng-if="form.userStatus == 'f'" ng-click="updateUser(v)"
                                                                class="table-buttons" />
                                                            <img src="./ASSETS/images/icons/update_user_access.png"
                                                                ng-click="updateUserAccountStatus(v)"
                                                                title="Update User Account Access"
                                                                class="table-buttons" />
                                                            <img src="./ASSETS/images/icons/reset_password.png"
                                                                ng-if="form.userStatus == 'f'"
                                                                ng-click="resetPassword(v)" title="Reset Password"
                                                                class="table-buttons" alt="Reset Password" />
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="!haveUsers">
                                                        <td colspan="4" class="text-center">
                                                            <h1>No User(s) Found</h1>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="haveUsers" align="center">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <ul uib-pagination total-items="TotalRegisterdUsers" ng-model="currentPage"
                                            ng-change="pageChanged(currentPage)" class="pagination-md"
                                            max-size="maxSize" items-per-page="itemsPerPage">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Modals -->
<script type="text/ng-template" id="UpdateUserModal">
    <div class="ngdialog-message">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1>Edit User</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="userName">Username</label>
            <input type="text" ng-model="modal_form.user_name" name="userName" id="userName"
                class="form-control" disabled/>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="fullName">Full Name</label>
            <input type="text" ng-model="modal_form.full_name" name="fullName" id="fullName"
                class="form-control" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="jobPosition">Job Position</label>
        </div>
        <select ng-model="modal_form.job_position" style="margin-left:1%;width:20%;">
            <option value="Admin">Admin</option>
            <option value="Cashier">Cashier</option>
            <option value="Staff">Staff</option>
        </select>                        
    </div>
    <div class="ngdialog-buttons dialog-buttons-margin">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Cancel')">Update User</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="confirm('Save')">Close</button>
    </div>
</script>

<script type="text/ng-template" id="UpdateUserAccountStatusModal">
    <div class="ngdialog-message">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 ng-if="form.userStatus == 'f'">Are you sure you want to deactivate this user account?</h1>
                <h1 ng-if="form.userStatus == 't'">Are you sure you want to activate this user account?</h1>
            </div>
        </div>
    </div>
    <div class="ngdialog-buttons dialog-buttons-margin">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Cancel')">Yes</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="confirm('Save')">No</button>
    </div>
</script>
<script type="text/ng-template" id="ResetUserPasswordModal">
    <div class="ngdialog-message">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1>Are you sure you want to reset the password  of this user?</h1>
            </div>
        </div>
    </div>
    <div class="ngdialog-buttons dialog-buttons-margin">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Cancel')">Yes</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="confirm('Save')">No</button>
    </div>
</script>